<div class="row">
  <div class="col-12" style="">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">

      <button type="submit" class="btn btn-success" [disabled]="!recipeForm.valid">Save</button>
      <button type="button" class="btn btn-danger" (click)="onCancelEditing()">Cancel</button>

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" formControlName="name">
      </div>
      <div class="form-group">
        <label for="imagePath">Image URL</label>
        <input type="text" class="form-control" id="imagePath" formControlName="imagePath" #imagePath>
        <img [src]="imagePath.value" class="img-fluid" style="max-width: available">
      </div>
      <div class="form-group">
        <label for="desc">Description</label>
        <textarea type="text" class="form-control" id="desc" formControlName="desc"></textarea>
      </div>

      <label for="ingredientsPart">Ingredients</label>
      <div formArrayName="ingredients" id="ingredientsPart">
        <div class="form-row"
             [formGroupName]="i"
             *ngFor="let ingredientCtrl of controls; let i = index"
             style="">
          <div class="col-6">
            <input type="text" class="form-control" formControlName="name" placeholder="Ingredient">
          </div>
          <div class="col-4">
            <input type="number" class="form-control" formControlName="amount" placeholder="Amount">
          </div>
          <div class="col-2">
            <button class="btn btn-danger" type="button" (click)="onDeleteIngredient(i)">X</button>
          </div>
        </div>
        <button class="btn btn-success" (click)="onAddIngredient()" type="button">Add ingredient</button>
      </div>

    </form>
  </div>
</div>
